body {
    font-family: sans-serif;
    color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#login-form {
    text-align: center;
}

#login-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.small-screen {
    background-color: #3498db;
}

.medium-screen {
    background-color: #8a2be2;
}

.large-screen {
    background-color: #f5ddad;
}

.hidden {
    display: none;
}