body {
    font-family: sans-serif;
    color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    text-align: center;
}

#login-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

#greeting {
    font-size: 40px;
}

#clock {
    font-size: 40px;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote span:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#quote span:last-child {
    font-size: 15px;
    font-weight: 400;
}